@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

html{
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Hind', sans-serif;
    background-color: #f4f4f4;
    margin: 0px;
    overflow: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

/* header */

.header{
    padding: 22px;
    background-color: #fff;
    margin-top: 40px;
    position: sticky;
}

.header .header__container .header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header__container .header__content .header__logo{
    text-decoration: none;
    font-size: 28px;
}

.header .header__container .header__content .header__logo a{
    text-decoration: none;
    font-weight:600;
}

.header .header__container .header__content .header__logo span{
    color: #2d3748;
}
.header .header__container .header__content .header__logo i{
    color: #717cdd;
}

.header .header__container .header__content .header__search{
    position: relative;
    color: #718096;
    
}

.header .header__container .header__content .header__search input{
    padding: 10px 20px 10px 50px;
    border: none;
    border-radius: 7px;
    width: 70%;
    font-size: 17px;
    background: #f4f4f4;
    width: 100%;
}

.header .header__container .header__content .header__search i{
    position: absolute;
    left: 15px;
    bottom: 10px;

}

.header .header__container .header__content .header__icon{
    display: none;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
    list-style: none;
}

.header .header__container .header__content .header__menu ul li{
    padding: 0 12px;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

.header .header__container .header__content .header__menu ul li:hover{
    color: #717cdd;
}

/* header */

/*banner*/
.banner{
    padding: 48px 0;
}

.banner .banner__container .banner__content{
    display: flex;
}

.banner .banner__container .banner__content .banner__icon{
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    padding: 0 15px;
    cursor: pointer;
}

.banner .banner__container .banner__content .banner__icon .banner__item:hover{
    transform: translateY(-7px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.banner .banner__container .banner__content .banner__icon .banner__item{
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.4s;
}

.banner .banner__container .banner__content .banner__icon .banner__item i{
    font-size: 28px;
    margin-bottom: 15px;
    color: #5a67d8;
}

.banner .banner__container .banner__content .banner__icon .banner__item h4{
    font-size: 20px;
    color: #718096;
}

/*banner*/
.beauty .beauty__container{
    padding: 0;
}

.beauty .beauty__container .beauty__content{
    display: flex;
    align-items: center;
}

.beauty .beauty__container .beauty__content .beauty__text{
    flex: 0 0 66.6666 7%;
    max-width: 66.6667%;
    display: inline;
}

.beauty .beauty__container .beauty__content .beauty__text span{
    padding: 5px 20px;
    background: rgba(90, 103, 216, 0.05);
    color: #5a67d8;
    font-weight: 600;
    border-radius: 30px;
}

.beauty .beauty__container .beauty__content .beauty__text p{
    font-size: 18px;
    color: #718096;
    line-height: 28px;
}

.beauty .beauty__container .beauty__content .beauty__text h3{
    font-size: 40px;
    margin: 24px 0;
}

.beauty .beauty__container .beauty__content .beauty__image{
    flex: 0 0 calc(33.3334% - 30px);
    max-width: calc(33.3334% - 30px);
    padding: 0 15px;
}

.beauty .beauty__container .beauty__content .beauty__image img{
    border-radius: 8px;
}

/*editor*/
.editor{
    padding-bottom: 48px;
    background-color: #f8f9fa;
}

.editor .editor__container{
    padding: 48px 0px;
}

.editor .editor__container .editor__content{
    display: flex;
}

.editor .editor__container .editor__content .editor__editors{
    flex: 0 0 calc(66.66667% - 30px);
    max-width: calc(66.66667% - 30px);
    padding: 0 15px;
}

.editor .editor__container .editor__content .editor__editors .editor__hd{
    margin-bottom: 20px;
    font-size: 28px;
}

.editor .editor__container .editor__content .editor__editors .editor__all{
    display: flex;
    justify-content: space-between;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty{
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    background-color: #fff;
    transition: all 0.5s;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty:last-child{
    height: 90%;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty:hover{
    transform: translateY(-10px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}


.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text{
    padding: 25px;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text span{
    color: #5a67d8;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 20px;
    display: inline-block;
    background: rgba(90, 103, 216, 0.05);
    border-radius: 30px;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text a{
    font-size: 22px;
    font-weight: 600;
    margin : 16px 0;
    cursor: pointer;
    display: inline-block;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text p{
    color: #718096;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text a:hover{
    color: #5a67d8;
}


.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .edtor__image img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text .editor__people{
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    margin-top: 16px;
    align-items: center;
    
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text .editor__people img{
    border-radius:50%;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text .editor__people ul{
    list-style: none;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text .editor__people ul li span{
    padding: 0;
    margin-left: 5px;
}
.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty .editor__text .editor__people ul li:last-child{
    color: #718096;
}


.editor .editor__container .editor__content .editor__topic{
    flex: 0 0 calc(33.33333% - 30px);
    max-width: calc(33.33333% - 30px);
}

.editor .editor__container .editor__content .editor__editors .editor__us{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 30px;
    padding: 16px;
    margin: 30px 0px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    border-radius: 7px;
    align-items: center;
}

.editor .editor__container .editor__content .editor__editors .editor__us h3{
    font-size: 26px;
}

.editor .editor__container .editor__content .editor__editors .editor__us a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: #5a67d8;
    font-weight: 600;
    color: #fff;
    border-radius: 8px;
}

.editor .editor__container .editor__content .editor__topic{
    padding: 0 15px;
}

.editor .editor__container .editor__content .editor__topic .editor__topics h3{
    font-size: 26px;
    margin-bottom: 30px;
}

.editor .editor__container .editor__content .editor__topic .editor__topics .editor__item{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 20px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    
}

.editor .editor__container .editor__content .editor__topic .editor__topics .editor__item i{
    width: 80px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #718096;
    background-color: #e2e8f0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.editor .editor__container .editor__content .editor__topic .editor__topics .editor__item:hover i{
    background-color: #5a67d8;
    color: #fff;
    transition: all 0.8s;
}

.editor .editor__container .editor__content .editor__topic .editor__topics .editor__item h4{
    padding-left: 20px;
}

.editor .editor__container .editor__content .editor__topic .editor__topics .editor__item:hover h4{
    color: #5a67d8;
}

.editor .editor__container .editor__content .editor__topic .editor__os{
    margin-top: 48px;
    text-align: center;
}

.editor .editor__container .editor__content .editor__topic .editor__os h3{
    font-size: 26px;
    margin-bottom: 20px;
    text-align: left;
}

.editor .editor__container .editor__content .editor__topic .editor__os .editor__image img{
    border-radius: 10px;
    display: block;
    margin-bottom: 5px;
}

.editor .editor__container .editor__content .editor__topic .editor__os a{
    text-decoration: none;
    color: #718096;
    text-transform: uppercase;
    margin-top: 10px;
}

/*editor*/
/* Top */

.top{
    padding: 48px 0;
    background-color: #fff;
}

.top .top__container{
    padding: 48px 0px;
}

.top .top__container h3{
    font-size: 26px;
    margin-bottom: 27px;
}

.top .top__container .top__content .top__icon{
    display: flex;
}

.top .top__container .top__content .top__icon .top__text{
    flex: 0 0 calc(33.3333% - 30px);
    max-width: calc(33.3333% - 30px);
    padding: 0 15px;
    z-index: 0;
}

.top .top__container .top__content .top__icon .top__text .top__im:hover{
    transform: translateY(-10px);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: all 0.5s;
}

.top .top__container .top__content .top__icon .top__text .top__im:before{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background-color: rgb(8 8 8 / 60%);
    border-radius: 20px
}

.top .top__container .top__content .top__icon .top__text .top__im{
    padding: 20px;
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/11-08-2020/newsblog-liberty-demo_Free/1950211435/web/assets/images/pic1.jpg);
    background-size: cover;
    height: 450px;
    align-items: flex-end;
    display: grid;
    position: relative;
    border-radius: 20px
}


.top .top__container .top__content .top__icon .top__text .top__all{
    z-index: 1;
    padding: 20px;
    color: #fff;
    align-items: center;
    
}

.top .top__container .top__content .top__icon .top__text a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 600;   
    margin: 15px 0;
}

.top .top__container .top__content .top__icon .top__text .top__image{
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 20px;
    align-items: center;
}

.top .top__container .top__content .top__icon .top__text .top__image img{
    border-radius: 50%;
    border: 1px solid;
}

.top__container .top__content .top__icon .top__text .top__image ul{
    list-style: none;
    font-weight: 600; 
    color: #eee;
}

/* Top */

/* style */

.style{
    padding: 48px 0;
    background-color: #f8f9fa;
}

.style .style__container{
    padding: 48px 0px;
}

.style .style__container .style__content .style__item{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 30px;
    margin-bottom: 40px;
    align-items: center;
}

.style .style__container .style__content .style__item h3{
    font-size: 26px;
}

.style .style__container .style__content .style__item a{
    text-decoration: none;
    padding: 6px 20px;
    background-color: #d4dbe6;
    border-radius: 20px;
    color: #718096;
    font-weight: 600;
}

.style .style__container .style__content .style__icon{
    display: flex;
}

.style .style__container .style__content .style__icon .style__lol{
    flex: 0 0 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
    margin: 0 15px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.style .style__container .style__content .style__icon .style__lol:hover{
    transform: translatey(-7px);
    transition: all 0.5s;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.style .style__container .style__content .style__icon .style__lol .style__image img{
    display: block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.style .style__container .style__content .style__icon .style__lol .style__text{
    padding: 25px;
}

.style .style__container .style__content .style__icon .style__lol .style__text a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: black;
    margin: 10px 0;
    display: inline-block;
}

.style .style__container .style__content .style__icon .style__lol .style__text .style__img{
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 20px;
    align-items: center;
}

.style .style__container .style__content .style__icon .style__lol .style__text .style__img img{
    border-radius: 50%;
    display: block;
}

.style .style__container .style__content .style__icon .style__lol .style__text .style__img ul{
    list-style: none;
    
}

.style .style__container .style__content .style__icon .style__lol .style__text .style__img ul li p{
    font-weight: 500;
    font-size: 18px;
}

.style .style__container .style__content .style__icon .style__lol .style__text .style__img ul li span{
    color: #718096;
}

/* style */

/* spa */

.spa{
    padding: 48px 0;
    background-color: #f4f4f4;
}

.spa .spa__container{
    padding: 48px 0px;
}

.spa .spa__container .spa__view{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.spa .spa__container .spa__view h3{
    font-size: 28px;
}

.spa .spa__container .spa__view a{
    text-decoration: none;
    font-weight: 600;
    color: #718096;
    background-color: #d7e0ec;
    padding: 5px 20px;
    border-radius: 20px;
}

.spa .spa__container .spa__content{
    display: flex;
    flex-wrap: wrap;
}

.spa .spa__container .spa__content .spa__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding: 15px;
    
}

.spa .spa__container .spa__content .spa__item .spa__icon{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.spa .spa__container .spa__content .spa__item .spa__icon:hover{
    transform: translateY(-8px);
    transition: all 0.5s;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__image{
    flex: 0 0 40%;
    max-width: 40%;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__image img{
    display: block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text{
    padding: 20px;
    
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text p{
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text .spa__cmt{
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 20px;
    align-items: center;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text .spa__cmt img{
    border-radius: 50%;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text .spa__cmt ul{
    list-style: none;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text .spa__cmt ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__text .spa__cmt ul li span{
    color: #718096;
}

/* spa */

/* trending */

.trending{
    padding: 48px;
    background-color: #f8f9fa;
}

.trending .trending__container h3{
    font-size: 26px;
    margin-bottom: 20px;
}


.trending .trending__container .trending__content{
    display: flex;
}

.trending .trending__container .trending__content .trending__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding: 0 15px;
}

.trending .trending__container .trending__content .trending__item .trending__icon{
    display: flex;
    background-color: #fff;
    align-items: center;
    border-radius: 20px;
    transition: all 0.5s;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
}

.trending .trending__container .trending__content .trending__item .trending__icon:hover{
    transform: translatey(-10px)
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__image{
    flex: 0 0 50%;
    max-width: 50%;
    
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__image img{
    display: block;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text{
    padding-left: 20px;
}


.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__all span{
    padding: 3px 30px;
    background-color: #e7ebf0;
    color: #5a67d8;
    border-radius: 20px;
    font-weight: 600;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__all a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
    margin: 20px 0;
    display: inline-block;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__all p{
    font-size: 18px;
    color: #718096;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__coment{
    display: grid;
    grid-template-columns: 60px auto;
    margin-top: 20px;
    align-items: center;
    grid-gap: 10px;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__coment img{
    display: block;
    border-radius: 50%;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__coment ul{
    list-style: none;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__coment ul li a{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text .trending__coment ul li span{
    color: #718096;
    padding: 0;
    background-color: #f4f4f4;
    font-weight: unset;
}
/* trending */

/* subscibe*/

.subscribe{
    padding: 48px 0;
}

.subscribe .subscribe__container{
    padding: 48px 0px;
    
}

.subscribe .subscribe__container .subscribe__content{
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding: 96px 0;
    border-radius: 20px;
}

.subscribe .subscribe__container .subscribe__content h3{
    font-size: 30px;
}

.subscribe .subscribe__container .subscribe__content p{
    font-size: 20px;
    color: #718096;
    margin-bottom: 48px;
}

.subscribe .subscribe__container .subscribe__content .subscribe__input{
    align-items: center;
}

.subscribe .subscribe__container .subscribe__content .subscribe__input input{  
    padding: 15px 30px;
    width: 30%;
    font-size: 15px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 7px;
}

.subscribe .subscribe__container .subscribe__content .subscribe__input button{
    border: none;
    background-color: #5a67d8;
    color: #eee;
    font-weight: 600;
    font-size: 18px;
    padding: 13px 20px;
    border-radius: 7px;
}

/* subscibe*/

.footer{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    display: flex;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__container .footer__content .footer__blog i{
    font-size: 30px;
    color: #5a67d8;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__blog span a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    margin-left: 5px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__blog p{
    font-size: 18px;
    color: #718096;
    margin-bottom: 10px;
}

.footer .footer__container .footer__content .footer__blog h5{
    font-size: 18px;
    font-weight: 500;
}

.footer .footer__container .footer__content .footer__blog h5 a{
    text-decoration: none;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__container .footer__content .footer__link h6{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__link ul{
    list-style: none;
}

.footer .footer__container .footer__content .footer__link ul li{
    margin-bottom: 10px;
}

.footer .footer__container .footer__content .footer__link ul li a{
    text-decoration: none;
    color: #718096;
    font-size: 18px;
}

.footer .footer__container .footer__content .footer__link ul li span i{
    margin-right: 10px;
    color: #5a67d8;
}





