.container{
    margin: 15px;
}

.header{
    padding: 15px 0;
}


.header .header__container .header__content .header__logo{
    font-size: 24px;
}

.banner .banner__container .banner__content .banner__icon{
    flex: 0 0 50%;
    max-width: 50%;
}

.banner .banner__container .banner__content .banner__icon .banner__item h4{
    white-space: nowrap;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.banner .banner__container .banner__content .banner__icon{
    padding: 8px;
}

.banner .banner__container .banner__content{
    padding: 0 8px;
}

.beauty .beauty__container .beauty__content .beauty__text h3{
    font-size: 25px;
    font-weight: 500;
}

.beauty .beauty__container .beauty__content .beauty__image{
    max-width: 100%;
}

.editor .editor__container .editor__content .editor__editors .editor__all{
    flex-wrap: wrap;
}

.editor .editor__container .editor__content .editor__editors .editor__all .editor__beauty{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
}

.editor .editor__container .editor__content .editor__editors .editor__us{
    display: inline-block;
    width:100%;
}

.editor .editor__container .editor__content .editor__editors .editor__us h3{
    margin-bottom: 10px;
}

.editor .editor__container .editor__content .editor__editors .editor__us a{
    display: inline-block;
}

.top .top__container .top__content .top__icon{
    flex-wrap: wrap;
}

.top .top__container .top__content .top__icon .top__text{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
}

.top .top__container .top__content .top__icon .top__text .top__im{
    height: 350px;
}

.top .top__container .top__content .top__icon .top__text:last-child{
    margin-top: 10px;
}

.top .top__container{
    padding: 0;
}

.style .style__container .style__content .style__item{
    display: inline-block;
    width: 100%;
    margin: 0;
}

.style .style__container .style__content .style__item a{
    display: inline-block;
    margin-top:10px;
}

.style .style__container .style__content .style__icon{
    flex-wrap: wrap;
    display: block;

}

.style .style__container .style__content .style__icon .style__lol{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
}

.style .style__container{
    padding: 0px;
}

.editor .editor__container{
    padding: 0px;
}

.spa .spa__container{
    padding: 0px;
}

.spa .spa__container .spa__content .spa__item .spa__icon{
    flex-wrap: wrap;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__image {
    flex: 0 0 100%;
    max-width: 100%;
    height: 200px;
    overflow: hidden;
}

.spa .spa__container .spa__content .spa__item .spa__icon .spa__image img {
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.trending{
    padding: 48px 15px;
}

.trending .trending__container .trending__content .trending__item .trending__icon{
    flex-wrap: wrap;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__image{
    flex: 0 0 100%;
    max-width: 100%;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__image img {
    display: block;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
}

.trending .trending__container .trending__content .trending__item .trending__icon .trending__text {
    padding: 30px;
}

.subscribe .subscribe__container .subscribe__content{
    padding: 40px 10px;
}

.subscribe {
    padding: 0;
}

.footer {
    padding: 0;
}

.footer .footer__container .footer__content .footer__blog{
    text-align: center;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 50%;
    max-width: 50%;
}

.header .header__container .header__content .header__icon#item{
    display: flex;
    position: relative;
}

.header .header__container .header__content .header__icon button:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.header .header__container .header__content .header__icon#item button{
    font-size: 30px;
    border: none;
    color: black;
    background-color: #fff;
}

.header{
    margin-top:0px;
}

.header .header__container .header__content .header__menu#menu{
    width: 70%;
    left: 0;
    position: fixed;
    background: bisque;
    height: 100vh;
    top: 0;
    padding-top: 50px;
    transform: translateX(-150%);
    z-index: 3;
    transition: all 0.5s linear;
}

.header .header__container .header__content .header__menu#menu.active{
    transform: translateX(0%)
}

.header .header__container .header__content .header__menu#menu ul{
    display: block;
}


.header .header__container .header__content .header__menu#menu ul li{
    text-align: center;
    margin-bottom: 20px;
}