.container{
    margin: 0 50px;
}

.header{
    max-width: 100%;
}

.header .header__container .header__content .header__search{
    display: none;
}

.banner .banner__container .banner__content{
    flex-wrap: wrap;
}

.banner .banner__container .banner__content .banner__icon{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding: 15px;
}

.beauty .beauty__container .beauty__content{
    flex-wrap: wrap;
    display: block;
    padding: 0 15px;
}

.beauty .beauty__container .beauty__content .beauty__text{
    flex: 0 0 100%;
    max-width: 100%;
}

.beauty .beauty__container .beauty__content .beauty__image{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 20px;
    padding: 0;
}

.editor .editor__container{
    padding: 48px 0;
}

.editor .editor__container .editor__content{
    flex-wrap: wrap;
    display: block;
}

.editor .editor__container .editor__content .editor__editors{
    flex: 0 0 100%;
    max-width: 100%;
}

.editor .editor__container .editor__content .editor__topic{
    max-width: 100%;
}

.top .top__container .top__content .top__icon{
    flex-wrap: wrap;
}

.top .top__container .top__content .top__icon .top__text{
    flex: 0 0 50%;
    max-width: 50%;
}

.top .top__container .top__content .top__icon .top__text:last-child{
    margin-top: 30px;
}

.style .style__container .style__content .style__icon{
    flex-wrap: wrap;
}

.style .style__container .style__content .style__icon .style__lol{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
}

.spa .spa__container .spa__content{
    flex-wrap: wrap;
    display: block;
}

.spa .spa__container .spa__content .spa__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.trending .trending__container .trending__content{
    flex-wrap: wrap;
    display: block;
}

.trending .trending__container .trending__content .trending__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.trending .trending__container .trending__content .trending__item:last-child{
    margin-top: 30px;
}

.subscribe .subscribe__container .subscribe__content .subscribe__input input{
    width: 50%;
}

.footer .footer__container .footer__content{
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 calc(33.33333% - 30px);
    max-width: calc(33.33333% - 30px);
    padding: 0 15px;
}
